# Going through SQL basics

- **DML** (Data Manipulation Language)
DML statements are used to manage data within schema objects. The main commands are:

SELECT: Retrieves data from a database.

INSERT: Inserts new data into a table.

UPDATE: Modifies existing data within a table.

DELETE: Deletes data from a table.

- **WHERE** Clause
The WHERE clause is used to filter records that satisfy a specific condition. The conditions mentioned are:

AND, OR, NOT: Logical operators for combining multiple conditions.

BETWEEN: Filters results within a specified range.

LIKE: Searches for a specified pattern in a column.

IN: Checks if a value matches any value in a list or subquery.

ANY, ALL: Compares a value to a set of values returned by a subquery.

EXISTS: Checks if a subquery returns any rows.

- **Functions**: SQL provides various aggregate and scalar functions. The common aggregate functions listed in the image are:

AVG(): Calculates the average of a set of values.

SUM(): Calculates the sum of a set of values.

COUNT(): Counts the number of rows that match a specified condition.

MIN(): Returns the smallest value in a set.

MAX(): Returns the largest value in a set.

- **Alias**
The AS keyword is used to give a temporary name to a table or column for the duration of a query.

- **GROUP BY**
The GROUP BY statement groups rows that have the same values into summary rows. It is often used with aggregate functions like COUNT(), MAX(), MIN(), etc.

HAVING: Used to filter groups after the GROUP BY operation.

- **ORDER BY**
The ORDER BY clause is used to sort the result set in either ascending (ASC) or descending (DESC) order.

- **JOINs**
SQL joins are used to combine rows from two or more tables, based on a related column between them.

- **DDL** (Data Definition Language)
DDL commands define and manage all database objects, such as tables, indexes, and views. The main commands are:

CREATE: Creates a new database object.

DROP: Deletes an existing database object.

TRUNCATE: Deletes all rows from a table but retains its structure for future use.

ALTER: Modifies an existing database object.

- **Modifying Database Schema**
Commands for modifying the schema are:

ADD: Adds a new column or constraint to an existing table.

REMOVE: Removes a column or constraint.

MODIFY: Changes the data type, constraint, or default value of a column.

- **DCL** (Data Control Language)
DCL statements control access to data within a database. The main commands are:

GRANT: Gives users access privileges to the database.

REVOKE: Removes access privileges.
- **TCL** (Transaction Control Language)
TCL commands manage the changes made by DML statements and group them into transactions. The main commands are:

COMMIT: Saves the changes made by DML statements.

ROLLBACK: Undoes changes since the last COMMIT.

SAVEPOINT: Sets a savepoint within a transaction to which you can roll back.

- **Constraints**
Constraints are rules enforced on columns in a table to ensure the integrity of the data. Common constraints include:

UNIQUE: Ensures all values in a column are distinct.

NOT NULL: Ensures that a column cannot have a NULL value.

PRIMARY KEY: A unique key that identifies each record in a table.

FOREIGN KEY: A key used to link two tables together.

CHECK: Ensures that the values in a column satisfy a specific condition.

DEFAULT: Provides a default value for a column when no value is specified.

- **Database Objects**
Different types of database objects are mentioned:

Table: A collection of related data entries.
View: A virtual table based on the result set of a query.

- **Window functions** operate on a set of table rows related to the current row. They are used to perform calculations across a set of table rows that are somehow related to the current row. Here are the common window functions listed in the image:

OVER(): Specifies the partitioning and ordering of a window function.

ROW_NUMBER(): Assigns a unique sequential integer to rows within a partition of a result set.

RANK(): Assigns a rank to each row within a partition of a result set, with gaps between ranks when there are ties.

DENSE_RANK(): Similar to RANK(), but without gaps. If two rows are tied, they will have the same rank, and the next rank will be consecutive.

NTILE(n): Distributes the rows in an ordered partition into a specified number of roughly equal groups.

LAG(): Provides access to a row at a given physical offset that comes before the current row in the result set.

LEAD(): Provides access to a row at a given physical offset that comes after the current row in the result set.

![Sample Image](https://raw.githubusercontent.com/origami-team/Geodatabases/main/Week2/images/basics.gif)

# Working with database

PostgreSQL also known as Postgres, is a free and open-source relational database management system (RDBMS) emphasizing extensibility and SQL compliance.

## Setting database string

In [ ]:
# These info is to access my database. In your case at least the password is different.
host = "34.67.149.172"
database = "postgres"
user = "postgres"
password = "BestPasswordEver"

In [ ]:
connection_string = f"postgresql://{user}:{password}@{host}/{database}"

In [ ]:
connection_string

'postgresql://postgres:mue2023@localhost/postgres2'

## Connect to database

In [ ]:
from sqlalchemy import create_engine

In [ ]:
engine = create_engine(connection_string)

In [ ]:
from sqlalchemy import inspect

In [ ]:
insp = inspect(engine)
insp.get_table_names()

['countries',
 'cities_new',
 'cities_deu',
 'spatial_ref_sys',
 'cities',
 'boundaries']

## Import to database

In [ ]:
import pandas as pd

In [ ]:
cities = pd.read_csv('cities.csv')

In [ ]:
# write to database
cities.to_sql('cities', engine, if_exists='replace', index=False)

In [ ]:
# read first 10 raws
df = pd.read_sql('SELECT * from cities LIMIT 10', engine)

In [ ]:
# print the df variable
df

## Write sql directly - alternative

In [ ]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [ ]:
%sql $connection_string

In [ ]:
%%sql

SELECT * from cities LIMIT 10

## Basic SQL queries

In [ ]:
%%sql

SELECT name, country FROM cities LIMIT 10

In [ ]:
%%sql

SELECT DISTINCT country FROM cities limit 10

In [ ]:
%%sql

SELECT MAX(population) FROM cities

In [ ]:
%%sql

SELECT SUM(population) FROM cities

In [ ]:
%%sql

SELECT AVG(population) FROM cities

In [ ]:
%%sql

SELECT * FROM cities ORDER BY country LIMIT 10

In [ ]:
%%sql

SELECT * FROM cities WHERE country='DEU'

In [ ]:
%%sql

SELECT * FROM cities WHERE country IN ('USA', 'CAN', 'CHN') limit 10

## SQL Joins

Reference: [SQL JOINs](https://www.w3schools.com/sql/sql_join.asp)

Here are the different types of the JOINs in SQL:

- **(INNER) JOIN**: Returns records that have matching values in both tables.
- **LEFT (OUTER) JOIN**: Returns all records from the left table, and the matched records from the right table.
- **RIGHT (OUTER) JOIN**: Returns all records from the right table, and the matched records from the left table.
- **FULL (OUTER) JOIN**: Returns all records when there is a match in either left or right table.

![Sample Image](https://github.com/origami-team/Geodatabases/blob/main/Week2/images/join.png?raw=1)

In [ ]:
# import the countries.csv in the database

In [ ]:
countries = pd.read_csv('countries.csv')

In [ ]:
countries

,id,Country,Alpha2_code,Alpha3_code,Numeric_code,Latitude,Longitude
0,1,Afghanistan,AF,AFG,4,33.0000,65.0
1,2,Albania,AL,ALB,8,41.0000,20.0
2,3,Algeria,DZ,DZA,12,28.0000,3.0
3,4,American Samoa,AS,ASM,16,-14.3333,-170.0
4,5,Andorra,AD,AND,20,42.5000,1.6
...,...,...,...,...,...,...,...
238,239,Wallis and Futuna,WF,WLF,876,-13.3000,-176.2
239,240,Western Sahara,EH,ESH,732,24.5000,-13.0
240,241,Yemen,YE,YEM,887,15.0000,48.0
241,242,Zambia,ZM,ZMB,894,-15.0000,30.0
242,243,Zimbabwe,ZW,ZWE,716,-20.0000,30.0

In [ ]:
# write to database
countries.to_sql('countries', engine, if_exists='replace', index=False)

In [ ]:
%%sql

SELECT * FROM countries limit 10

In [ ]:
%%sql

SELECT * FROM cities LIMIT 10

### SQL Joins

In [ ]:
%%sql

SELECT * FROM cities INNER JOIN countries ON cities.country = countries."Alpha3_code" limit 10

In [ ]:
%%sql

SELECT name, country, countries."Alpha3_code", countries."Country" FROM cities INNER JOIN countries ON cities.country = countries."Alpha3_code" limit 10

In [ ]:
# write Left Join, Right Join and Full Join queries
# what is the difference between all four

In [ ]:
%%sql

SELECT country FROM cities
UNION
SELECT "Alpha3_code" FROM countries
limit 10

## Aggregation

### Group By

In [ ]:
%%sql

SELECT COUNT(name), country
FROM cities
GROUP BY country
limit 10

### Having

In [ ]:
%%sql

SELECT COUNT(name), country
FROM cities
GROUP BY country
HAVING COUNT(name) > 40

## Conditional statements

In [ ]:
%%sql

SELECT name, population,
CASE
    WHEN population > 10000000 THEN 'Megacity'
    WHEN population > 1000000 THEN 'Large city'
    ELSE 'Small city'
END AS category
FROM cities
limit 10

## Saving results

In [ ]:
%%sql

SELECT *
INTO cities_new
FROM cities

In [ ]:
%%sql

DROP TABLE IF EXISTS cities_deu;

SELECT *
INTO cities_deu
FROM cities
WHERE country = 'DEU'

## SQL Comments

###  Single line coments

In [ ]:
%%sql

SELECT * FROM cities LIMIT 10 -- This is a comment;

### Multi-line comments

In [ ]:
%%sql

SELECT COUNT(name), country
FROM cities
/*
 * Adding Group by
 * Adding Order by
 */
GROUP BY country
ORDER BY COUNT(name) DESC
LIMIT 10

# Getting started with Spatial SQL - add extensions and import spatial data

Reference: [Spatial Extentions](https://gist.github.com/joelonsql/e5aa27f8cc9bd22b8999b7de8aee9d47#spatial-and-geographic-objects)

Large ecosystem of space-related extensions (i.e. plugins):

**postgis**: support for geographic objects by adding support for storing, indexing, and querying geospatial data

**postgis_raster**: Enables storage and analysis of raster data such as satellite imagery or digital elevation models (DEMs).

**postgis_topology**: Provides support for managing topological relationships between spatial features, which is useful for applications requiring strict spatial rules (e.g., shared boundaries).

**postgis_sfcgal**: Extends PostGIS with advanced 3D geometry and topological operations using the SFCGAL library. This extension is required for certain 3D operations like 3D intersection and distance calculations.

**postgis_fdw** (Foreign Data Wrapper): Allows PostGIS to access other geospatial data sources via SQL commands. It supports fetching geometries from external databases or file systems.

**pgpointcloud**: Provides tools to work with LiDAR point clouds. Although not strictly a PostGIS extension, it works closely with PostGIS for handling 3D point cloud data.

**pgRouting**: Solves network routing problems, like shortest path, driving distances, and more.

**timescaledb**: A time-series extension for partitioning of spatio-temporal data and time-series analysis.

**MobilityDB**: An extension for managing and querying moving object (e.g., cars, bicycles, animals) data.

In [ ]:
import geopandas as gpd

In [ ]:
%%sql

CREATE EXTENSION postgis;

In [ ]:
%%sql

SELECT postgis_full_version() -- show postgis version

In [ ]:
boundaries = gpd.read_file('world-administrative-boundaries.geojson')

In [ ]:
boundaries

In [ ]:
# write to database
boundaries.to_postgis('boundaries', engine, if_exists='replace', index=False)

# Visualize data in QGIS

1. Open QGIS on your computer
2. Go to the Browser tab, find PostgreSQL and press the right click
   
![Sample Image](https://github.com/origami-team/Geodatabases/blob/main/Week2/images/NewConnection.png?raw=1)

3. fill the gaps as on the figure below
   
![Sample Image](https://github.com/origami-team/Geodatabases/blob/main/Week2/images/QGIS_Connection.png?raw=1)

4. Return back to the Browser tab and find the boundaries layer in the PostgreSQL tab
5. Drag the boundaries object to the layer tab. The world map should appear on your screen.
   
![Sample Image](https://github.com/origami-team/Geodatabases/blob/main/Week2/images/Visualize_geo_layer.png?raw=1)

6. You can execute an SQL query in QGIS. Go the boundaries object and press the right click followed by Execute SQL

![Sample Image](https://github.com/origami-team/Geodatabases/blob/main/Week2/images/Execute_SQL_in_QGIS.png?raw=1)

7. Visualize the output of the SQL query click on **Execute**, open the **load as new layer** tab, tick on the **geometry column** box, and press **load layer**. You should see the new layer among all your layers.

![Sample Image](https://github.com/origami-team/Geodatabases/blob/main/Week2/images/Visualize_sql_output.png?raw=1)

# Homework tasks

1. Which country has the highest number of cities, and what is the count of cities in it?
2. Which countries in Europe and Asia have between 40 and 60 cities, and what are the average, maximum, and minimum populations of those cities, sorted by the number of cities and average population in descending order?  
3. Create a map in QGIS with all countries that are 15 degrees away from the Equator.  
4. What is the most southwestern country in Asia?  
5. Download this city dataset (https://public.opendatasoft.com/explore/dataset/geonames-all-cities-with-a-population-1000/export/?  disjunctive.cou_name_en&sort=name), and import it to PostgreSQL. It is your choice to select the downloading format. After that, the tasks would be to identify all cities that match and do not match with the previously imported cities.csv dataset. Create two maps visualizing the similarities and differences between the datasets.
6. Create a new column in the new dataset, and assign a value in it for each row by splitting all cities by 100 meters using the dem value. Create a map based on the split.

**In the end, you should create a word or better jupyter notebook file with all queries.**